:root {
  --clr-page: #111317;
  --clr-text: #e6e6e6;
  --clr-bg: #131720;
  --clr-highlight: #1a2030;
  --clr-accent: #99abbf;

  --shadow-1: 0px 2px 2px 0px rgba(0,0,0,0.14) ,0px 3px 1px -2px rgba(0,0,0,0.12) ,0px 1px 5px 0px rgba(0,0,0,0.2);

  --max-content-width: 52rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: var(--clr-text);
  background-color: var(--clr-page);
  font-size: 16px;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  min-height: 100vh;
}

.desktop {
  display: none;
}

@media (min-width: 40rem) {
  .desktop {
    display: block;
  }
  
  .mobile {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

svg {
  fill: currentColor;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  border-bottom: .25rem solid var(--clr-accent);
  margin: 1rem 0;
}

@media (min-width: 40rem) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2.25rem;
  border-bottom: .25rem solid var(--clr-accent);
  margin: 1.25rem 0;
}

h3 {
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0;
}

h3:not(:first-of-type) {
  margin-top: 2rem;
}

h3 a svg {
  height: 1.375rem;
  margin-right: .5rem;
}

h3 a:hover span {
  text-decoration: underline;
}

h3 a:hover {
  text-decoration: none;
}

h3 a:hover {
  color: var(--clr-accent);
}

h4 {
  font-family: monospace;
  font-size: 1.25rem;
  margin: .75rem 0;
}

img {
  display: block;
}

.center {
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
} /* https://tailwindcss.com/docs/screen-readers */

.contact-list {
  list-style: none;
  padding: 0;
  font-size: 1.375rem;
  line-height: 1.75rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .75rem;
  margin: .5rem 0;
}

@media (min-width: 40rem) {
  .contact-list {
    grid-template-columns: repeat(4, 1fr);
    margin: .75rem 0;
  }
}

.contact-list li:hover {
  transform: scale(1.01);
  /* transition: transform .1s ease-in; */
}

.contact-list li a {
  display: flex;
  align-items: center;
  background: var(--clr-bg);
  border-radius: .5rem;
  box-shadow: var(--shadow-1);
  padding: .75rem 1.25rem;
}

.contact-list li a:hover {
  background: var(--clr-highlight);
}

.contact-list li a svg {
  width: 1.125rem;
  margin-right: .375rem;
}

.content {
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  background: var(--clr-bg);
  width: 100%;
  max-width: var(--max-content-width);
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: var(--shadow-1);
  margin: 1rem;
  margin-top: .75rem;
}

.content p {
  margin-top: .75rem;
}

.content p:first-child {
  margin-top: 0;
}

.content p:last-child {
  margin-bottom: .125rem;
}

.content a {
  color: var(--clr-accent);
  font-weight: 500;
}

.main-img {
  max-width: 100%;
  border-radius: .25rem;
}

.images {
  overflow-x: auto;
  scrollbar-width: thin;
  max-width: fit-content;
  display: flex;
  gap: .25rem;
  padding: .25rem;
  border: 1px solid var(--clr-highlight);
  border-radius: .25rem;
}

.images img {
  height: 10rem;
  width: auto;
}

@media (min-width: 40rem) {
  .images img {
    height: 20rem;
  }
}

.images img:first-child {
  border-top-left-radius: .125rem;
  border-bottom-left-radius: .125rem;
}

.images img:last-child {
  border-top-right-radius: .125rem;
  border-bottom-right-radius: .125rem;
}

.dev-notes {
  border: 1px solid var(--clr-highlight);
  border-radius: .25rem;
  padding: .5rem;
  padding-left: 2rem;
  margin-top: 0;
}

.divider {
  width: 100%;
  max-width: var(--max-content-width);
  height: 1px;
  background: var(--clr-highlight);
  margin: 1rem;
}
